h1 {
  font-size: 32px;
  color: blue;
}

body {
  background-color: black;
}
h2{
  color:green;
}
.f{
color: white;
}
body{
  border-style:;
  border-width: thin;
}
strong{
  font-size: 100%;
}
ul{
  color:red;

margin: 0;
  padding: 0;
}

nav {
  margin: 50px;
}

ul {
  overflow: auto;
  list-style-type: none;
}

li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: yellow;
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a:hover {
  color: blue;
}

li.active a {
  font-weight: bold;
  color: black;
}

p{
  color:white;
}
ol{
  color:red;
}
.become{
  line-space:p;
  color:red;
}
dl {
  color:blue;
}
.detective{
  color:blue;
}
.success{
  color:green;
}
p{
  color:yellow;
}
body{
  background-img:
}
dt{
  color:green;
}
